/* font styles */
/* font-family: 'Indie Flower', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Kavoon', cursive */

/* bacground-color
back-to-earth */


body {
color: #40514e;
}

h1 {
  font-family: 'Kavoon', cursive;
  text-shadow: 3px 2px #00C9FF;
  font-size: 60px;
}

h3 {
  font-family: 'Patrick Hand', cursive;
  text-shadow: 2px 1px #00C9FF;
  font-size: 40px;
}

h4 {
  color: #0cc30c;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: bold;
}

h4:hover {
  color: #0e860e;
  font-size: 3rem;
}

/* Firs selection */
.select1 {
  padding: 3% 5%;
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainimage {
  border-radius: 100%;
  width: 28rem;
  height: 28rem;
  margin: 8%;
}

@media screen and (max-width: 520px){
.mainimage {
  width: 25rem;
  height: 25rem;
  margin: auto;
}
.imagehead{
  text-align: center;
}
}

.head {
  padding: 5%;
  text-align: center;
}

.features {
  padding-top: 20%;
}

.a1 {font-family: 'Patrick Hand', cursive;
color: #11999e;
font-size: 30px;
display: inline-block;
padding: 5%;
}


/* Second selection */
.select2 {
  background-color: #e4f9f5;
  padding: 3% 5%;
text-align: center;
}

.gal {
  padding: 5%;
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
}

@media screen and (min-width: 990px){
.first {
 padding-left: 17%;
}

.second {
  padding-right: 17%;
}
}

/* Third Selection */

.select3 {
  padding: 10% 5%;
  text-align: center;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
  margin: 1%;


}

@media screen and (max-width: 520px){
  table {
    margin: auto;
   }
tr td {
  padding: 2%;
  display: block;

}
}

td {
  padding: 5%;
}

.a2 {font-family: 'Patrick Hand', cursive;
color: #11999e;
font-size: 30px;
padding: 5%;
text-decoration: underline;
}

.contactimage {
  padding-top: 2%;
  width: 20rem;
  height: 20rem;
}

.em {
  font-size: 1.5rem;
}
